header {
    background: url('../../assets/images/heroBack.svg') no-repeat ;
    background-position: center;
    background-size: cover;
}

.hero__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.hero-img__wrapper {
    max-width: 500px !important;
 
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.hero__content {
    max-width: 560px;
    h2 {
        font-size: 44px;
        line-height: 56px;
        color: rgba(62, 62, 62, 1);
        word-break: break-all;
     
    }
    p {
        color: #000 ;
        font-size: 15px;
        margin-top: 30px;
    }
    button{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 60px;
    font-size: 18px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    font-weight: 700;
    border-radius: 17px;
    }
}



@media only screen and (max-width: 1200px){
    .hero__content {
        max-width: 560px;
        h2 {
            font-size: 38px;
            line-height: 52px;
            color: rgba(62, 62, 62, 1);
         
        }
        p {
            width: 420px;
            color: #000 ;
            font-size: 15px;
            margin-top: 30px;
        }
        button{
        display: inline-block;
        margin-top: 20px;
        max-width: 200px;
        height: 50px;
        font-size: 18px;
        border: none;
        color: #fff;
        letter-spacing: 1px;
        background-color: var(--primary-color);
        font-weight: 700;
        border-radius: 17px;
        }
    }
}

