.footer {
    width: 100%;
    height: 100%;
    // background-color: rgb(80, 66, 66);
    padding: 0 140px 0 140px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 80px 0 80px 0;
    gap: 0 50px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    width: 320px;
    font-family: DM Sans;
    // li{
    //     font-style: normal;
    //     line-height: 180%;
    //     font-family: var(--roboto-font);
    //     color: white;
    //     font-size: 14px;
    //     font-weight: 400;
    //     cursor: pointer;
    //     &:hover{
    //         text-decoration: underline;
    //         color: #40a3f8;
    //         transition: 0.5s;
    //     }
    //     input{
    //         width: 292px;
    //         height: 40px;
    //         flex-shrink: 0;
    //         border-radius: 5px;
    //         border: 1.1px solid #E1E2E4;
    //         background: #FFF;
    //         text-indent: 10px;
    //     }
    //     button{
    //         width: 292px;
    //         height: 40px;
    //         flex-shrink: 0;
    //         border-radius: 5px;
    //         border: 1.1px solid #E1E2E4;
    //         background: var(--promary, #40A3F8);
    //         color: #FFF;
    //         font-family: var(--roboto-font);
    //         font-size: 14px;
    //         font-style: normal;
    //         font-weight: 500;
    //         line-height: normal;
    //         letter-spacing: 0.28px;
    //     }
    // }
}

.menu-item {
    font-style: normal;
    line-height: 180%;
    font-family: var(--roboto-font);
    color: var(--Medium-Dark, #646464);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: #40a3f8;
        transition: 0.5s;
    }
}

input {
    width: 292px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.1px solid #E1E2E4;
    background: #FFF;
    text-indent: 10px;
}

.button {
    width: 292px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.1px solid #E1E2E4;
    background: var(--promary, #40A3F8);
    color: #FFF;
    font-family: var(--roboto-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.title {
    color: var(--Dark, #323232);
    font-family: var(--roboto-font) ! important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% */
}

.icon {
    // color: white;
    // font-size: 20px;
    width: auto;
    height: 35px;
    cursor: pointer;
}

.icon-wrapper {
    width: 180px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    // background-color: #020101;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p {
    color: var(--Medium-Dark, #646464);
    font-family: var(--roboto-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.privacy {
    color: var(--Medium-Dark, #646464);
    font-family: var(--roboto-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    // gap: 30px;
    line-height: 40px;
    // padding: 30px;
}

span {
    margin-left: 53px;
}