footer {
    width: 100%;
    margin-top: 50px;
    padding: 40px 0;
    background-color: #e8f9fbee;

}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-content{
    max-width: 320px;
    flex-grow: 1 !important;
    p{
        color: #646464;
        font-size: 15px;
        font-weight: 500;
        margin-top: 16px;
    }
}
.content-socials {
    width: 180px;
    height: 35px;
    display: flex;
    margin-top: 16px;
    gap: 20px;
    .social-link{
        font-size: 30px;
        color: #323232;
    }
}

.footer__menu-container {
    display: flex;
    gap: 0px 100px;
    align-items: flex-start;
    margin-left: 100px;
}
.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: DM Sans;

    li {
        font-style: normal;
        line-height: 180%;
        font-family: var(--roboto-font);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: #40a3f8;
            transition: 0.5s;
        }



  
    }
    .title {
        color: var(--Dark, #323232);
        font-family: var(--roboto-font) ! important;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        /* 100% */
    }
    .menu-item {
        font-family: var(--roboto-font);
        color: var(--Medium-Dark, #646464);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s;
    
        &:hover {
            text-decoration: underline;
            color: #40a3f8;
        }
    }
}

.footer__action {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;

    strong {
        font-size: 16px;
        font-weight: 700;
        color: #323232;
    }

    p {
        margin-top: 20px;
        color: #646464;
        font-size: 14px;
        line-height: 25px;
        width: 270px;
    }

    input {
        width: 100%;
        margin-top: 15px;
        height: 45px;
        border-radius: 5px;
        border: 1.1px solid #E1E2E4;
        background: #FFF;
        text-indent: 10px;
        outline: none;
        transition: 0.1s;

        &:focus {
            box-shadow: 0 0 5px rgb(19, 19, 246);
        }
    }

    button {
        width: 100%;
        margin-top: 12px;
        height: 43px;
        border-radius: 5px;
        border: none;
        background: var(--primary-color);
        color: #FFF;
        font-family: var(--roboto-font);
        font-size: 16px;
        font-weight: 500;
        transition: 0.2s;
        letter-spacing: 0.28px;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}



.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p {
    color: var(--Medium-Dark, #646464);
    font-family: var(--roboto-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.privacy {
    color: var(--Medium-Dark, #646464);
    font-family: var(--roboto-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    // gap: 30px;
    line-height: 40px;
    // padding: 30px;
}

span {
    margin-left: 53px;
}